{% extends "nc/base.html" %}
{% load static %}
{% load bootstrap %}
{% load humanize %}
{% load nc_extras %}

{% block head %}{% endblock %}

{% block nc_style %}
<link rel="stylesheet" type="text/css" href='{% static 'nc/leaderboard.css' %}' />
{% endblock %}

{% block title %}Top Assets | Nucleo{% endblock %}

{% block main %}
{% if request.user.is_authenticated %}
<div class="mb-2">
  <a href="{% url 'nc:dashboard' %}">Back To Dashboard</a>
</div>

<!-- Change Trust Modal -->
<div class="modal fade" id="changeTrustModal" tabindex="-1" role="dialog" aria-labelledby="changeTrustModalTitle" aria-hidden="true">
  <form method="POST" id="changeTrustModalForm" data-asset_code="" data-asset_issuer="">
    {% csrf_token %}
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="changeTrustModalTitle">Change Trust For <span class="modal-asset-code"></span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 id="changeTrustModalBodyHeader" class="pt-1 mb-3 modal-body-header">Please enter your secret key to toggle trust</h5>
          <div class="input-group">
            <div class="input-group">
              <input id="changeTrustModalSecretKey" type="password" name="secret_key" class="form-control" placeholder="Secret Key (example: SBUVRVHRRGNBFYY...)" aria-label="Secret Key">
              <div class="input-group-append">
                <button id="changeTrustModalLedger" class="btn btn-outline-secondary ledger-button" type="button" name="ledger" data-public_key="" data-parent="#changeTrustModalSecretKey" data-alert_ref="#changeTrustModalBodyHeader" data-alert_before="false" data-submit_name="Submit">
                  <img src="{% static 'nc/images/ledger.png' %}" alt="" width="auto" height="16">
                </button>
              </div>
            </div>
            <div class="text-muted mt-2">
              <small id="changeTrustModalRemovePrompt" style="display: none;">
                The Stellar account associated with this secret key currently trusts <span class="modal-asset-code"></span>.
                By clicking Change Trust, you will <span class="font-weight-bold">remove trust</span> for <span class="modal-asset-code"></span>.
              </small>
              <small id="changeTrustModalAddPrompt" style="display: none;">
                The Stellar account associated with this secret key currently does not trust <span class="modal-asset-code"></span>.
                By clicking Change Trust, you will <span class="font-weight-bold">add trust</span> for <span class="modal-asset-code"></span>.
              </small>
            </div>
          </div>
          <p class="mt-3">
            By clicking Change Trust, a transaction with <a href="https://www.stellar.org/developers/guides/concepts/list-of-operations.html#change-trust" class="text-info" target="_blank">Change Trust</a> operation will be added to the Stellar Network.
          </p>
          <div class="text-danger mt-4">
            <strong>Security Notes</strong>
            <ul>
              <li>We do NOT store your secret key. Your secret key is never sent to our servers.</li>
              <li>Nucleo uses your secret key to sign off on this modification to the Stellar ledger.</li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary ladda-button" data-style="expand-left" data-size="s"><span class="ladda-label">Change Trust</span></button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Activity Tx Hash Form -->
<form method="POST" id="activityForm" class="d-none" action="{% url 'nc:feed-activity-create' %}">
  {% csrf_token %}
  <input name="success_url" type="hidden" value="{{ request.get_full_path }}">
  {{ activity_form }}
</form>
{% endif %}

<div class="card">
  <div class="card-header border-0 d-flex flex-wrap justify-content-between align-items-center">
    <div class="mb-1 d-flex flex-column justify-content-between align-items-start">
      <h5>Top Assets On Stellar</h5>
      <span class="text-secondary">Choose an asset to trade on Stellar's built-in DEX</span>
    </div>
    <div class="mb-1 d-flex flex-column justify-content-between align-items-start">
      <div class="btn-group my-1" role="group">
        <a {% if display == 'activityScore' %}href="{% url 'nc:asset-top-list' %}?display={{ display }}&counter_code=USD&order_by={{ order_by }}"{% else %}href="{% url 'nc:asset-top-list' %}?display={{ display|slice:"0:-3" }}USD&counter_code=USD&order_by={{ order_by }}"{% endif %} {% if counter_code == 'USD' %}class="btn btn-sm btn-light active"{% else %}class="btn btn-sm btn-light"{% endif %}>USD</a>
        <a {% if display == 'activityScore' %}href="{% url 'nc:asset-top-list' %}?display={{ display }}&counter_code=XLM&order_by={{ order_by }}"{% else %}href="{% url 'nc:asset-top-list' %}?display={{ display|slice:"0:-3" }}XLM&counter_code=XLM&order_by={{ order_by }}"{% endif %} {% if counter_code == 'XLM' %}class="btn btn-sm btn-light active"{% else %}class="btn btn-sm btn-light"{% endif %}>XLM</a>
      </div>
      <div class="btn-group my-1" role="group">
        <a {% if display == 'activityScore' %}{% if order_by == 'asc' %}href="{% url 'nc:asset-top-list' %}?display=activityScore&counter_code={{ counter_code }}&order_by=desc"{% else %}href="{% url 'nc:asset-top-list' %}?display=activityScore&counter_code={{ counter_code }}&order_by=asc"{% endif %} class="btn btn-sm btn-primary active"{% else %}href="{% url 'nc:asset-top-list' %}?display=activityScore&counter_code={{ counter_code }}&order_by={{ order_by }}" class="btn btn-sm btn-primary"{% endif %}>
          {% if display == 'activityScore' %}
          <span {% if order_by == 'desc' %}data-feather="chevrons-up"{% else %}data-feather="chevrons-down"{% endif %}></span>
          {% endif %}
          Activity
        </a>
        <a {% if display == 'price_USD' or display == 'price_XLM' %}{% if order_by == 'asc' %}href="{% url 'nc:asset-top-list' %}?display=price_{{ display|slice:"-3:" }}&counter_code={{ counter_code }}&order_by=desc"{% else %}href="{% url 'nc:asset-top-list' %}?display=price_{{ display|slice:"-3:" }}&counter_code={{ counter_code }}&order_by=asc"{% endif %} class="btn btn-sm btn-primary active"{% elif display != 'activityScore' %}href="{% url 'nc:asset-top-list' %}?display=price_{{ display|slice:"-3:" }}&counter_code={{ counter_code }}&order_by={{ order_by }}" class="btn btn-sm btn-primary"{% else %}href="{% url 'nc:asset-top-list' %}?display=price_{{ counter_code }}&counter_code={{ counter_code }}&order_by={{ order_by }}" class="btn btn-sm btn-primary"{% endif %}>
          {% if display == 'price_USD' or display == 'price_XLM' %}
          <span {% if order_by == 'desc' %}data-feather="chevrons-up"{% else %}data-feather="chevrons-down"{% endif %}></span>
          {% endif %}
          Price
        </a>
        <a {% if display == 'change24h_USD' or display == 'change24h_XLM' %}{% if order_by == 'asc' %}href="{% url 'nc:asset-top-list' %}?display=change24h_{{ display|slice:"-3:" }}&counter_code={{ counter_code }}&order_by=desc"{% else %}href="{% url 'nc:asset-top-list' %}?display=change24h_{{ display|slice:"-3:" }}&counter_code={{ counter_code }}&order_by=asc"{% endif %} class="btn btn-sm btn-primary active"{% elif display != 'activityScore' %}href="{% url 'nc:asset-top-list' %}?display=change24h_{{ display|slice:"-3:" }}&counter_code={{ counter_code }}&order_by={{ order_by }}" class="btn btn-sm btn-primary"{% else %}href="{% url 'nc:asset-top-list' %}?display=change24h_{{ counter_code }}&counter_code={{ counter_code }}&order_by={{ order_by }}" class="btn btn-sm btn-primary"{% endif %}>
          {% if display == 'change24h_USD' or display == 'change24h_XLM' %}
          <span {% if order_by == 'desc' %}data-feather="chevrons-up"{% else %}data-feather="chevrons-down"{% endif %}></span>{% endif %}
          Change 24h
        </a>
      </div>
    </div>
  </div>
  <div class="card-body card-leaderboard p-0">
    <ol class="list-group">
      {% for a in page_obj %}
      <div class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex flex-column mr-2">
          <button type="button" title="StellarTerm Activity Score" style="width: 60px;" {% if a.activityScore %}class="btn btn-sm btn-warning my-1"{% else %}class="btn btn-sm btn-light text-light my-1"{% endif %}>
            <span data-feather="star"></span>
            {% if a.activityScore %}{{ a.activityScore|floatformat:0 }}{% endif %}
          </button>
          {% if not request.user.is_authenticated %}
          <a href="{{ login_redirect }}" title="Change Trust" style="width: 60px; font-size: 0.75em;" class="btn btn-sm btn-outline-primary my-1">
            Trust
          </a>
          {% elif a.is_trusting %}
          <button type="button" title="Change Trust" style="width: 60px; font-size: 0.75em;" class="btn btn-sm btn-outline-primary my-1 active"{% if a.asset_id != 'XLM-native' %} data-toggle="modal" data-target="#changeTrustModal" data-asset_code="{{ a.code }}" data-asset_issuer="{{ a.issuer_address }}"{% endif %}>
            Trusted
          </button>
          {% else %}
          <button type="button" title="Change Trust" style="width: 60px; font-size: 0.75em;" class="btn btn-sm btn-outline-primary my-1"{% if a.asset_id != 'XLM-native' %} data-toggle="modal" data-target="#changeTrustModal" data-asset_code="{{ a.code }}" data-asset_issuer="{{ a.issuer_address }}"{% endif %}>
            Trust
          </button>
          {% endif %}
        </div>
        <a href="{% url 'nc:asset-detail' a.asset_id %}" class="list-group-item list-group-item-action p-0 border-0">
          <div class="d-inline-flex justify-content-start align-items-center">
            <img class="img-object-fit-cover img-thumbnail rounded-circle flex-auto" style="height: 70px; width: 70px;"{% if a.pic %} src="{{ a.pic.url }}"{% elif a.toml_pic %} src="{{ a.toml_pic }}"{% else %} src="{% static 'nc/images/asset.png' %}"{% endif %} alt="">
            <div class="ml-2 d-flex flex-column align-items-start justify-content-center">
              <strong>{{ a.code }}</strong>
              <small class="text-muted">{% if a.domain %}{{ a.domain }}{% endif %}</small>
            </div>
          </div>
        </a>
        <div class="ml-2 asset-ticker">
          {% with a|get_attribute:'price_USD' as display_val %}
          {% with a|get_attribute:'change24h_USD' as performance %}
          <button type="button" {% if performance and display_val != None %}{% if performance > 0 %}class="d-none btn btn-sm btn-success btn-topassets btn-price_USD"{% elif performance < 0 %}class="d-none btn btn-sm btn-danger btn-topassets btn-price_USD"{% endif %}{% else %}class="d-none btn btn-sm btn-secondary btn-topassets btn-price_USD"{% endif %}>
            {% if display_val != None %}${{ display_val|intcomma }}{% else %}-{% endif %}
          </button>
          <button type="button" {% if performance %}{% if performance > 0 %}class="d-none btn btn-sm btn-success btn-topassets btn-change24h_USD"{% elif performance < 0 %}class="d-none btn btn-sm btn-danger btn-topassets btn-change24h_USD"{% endif %}{% else %}class="d-none btn btn-sm btn-secondary btn-topassets btn-change24h_USD"{% endif %}>
            {% if performance != None %}{% if performance > 0 %}+{% endif %}{{ performance|floatformat:2|intcomma }}%{% else %}-{% endif %}
          </button>
          {% endwith %}
          {% endwith %}

          {% with a|get_attribute:'price_XLM' as display_val %}
          {% with a|get_attribute:'change24h_XLM' as performance %}
          <button type="button" {% if performance and display_val != None %}{% if performance > 0 %}class="d-none btn btn-sm btn-success btn-topassets btn-price_XLM"{% elif performance < 0 %}class="d-none btn btn-sm btn-danger btn-topassets btn-price_XLM"{% endif %}{% else %}class="d-none btn btn-sm btn-secondary btn-topassets btn-price_XLM"{% endif %}>
            {% if display_val != None %}{{ display_val|intcomma }} XLM{% else %}-{% endif %}
          </button>
          <button type="button" {% if performance %}{% if performance > 0 %}class="d-none btn btn-sm btn-success btn-topassets btn-change24h_XLM"{% elif performance < 0 %}class="d-none btn btn-sm btn-danger btn-topassets btn-change24h_XLM"{% endif %}{% else %}class="d-none btn btn-sm btn-secondary btn-topassets btn-change24h_XLM"{% endif %}>
            {% if performance != None %}{% if performance > 0 %}+{% endif %}{{ performance|floatformat:2|intcomma }}%{% else %}-{% endif %}
          </button>
          {% endwith %}
          {% endwith %}
        </div>
      </div>
      {% endfor %}
    </ol>
  </div>
</div>

<div class="pagination mt-2">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?display={{ display }}&order_by={{ order_by }}&counter_code={{ counter_code }}&page=1">&laquo; First</a>
            <a href="?display={{ display }}&order_by={{ order_by }}&counter_code={{ counter_code }}&page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?display={{ display }}&order_by={{ order_by }}&counter_code={{ counter_code }}&page={{ page_obj.next_page_number }}">Next</a>
            <a href="?display={{ display }}&order_by={{ order_by }}&counter_code={{ counter_code }}&page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}


{% block nc_script %}
<script>
  var CURRENT_DISPLAY = {% if display == 'activityScore' %}"price_{{ counter_code }}"{% else %}"{{ display }}"{% endif %};
  const ALLOWED_DISPLAYS = [
    "price_{{ counter_code }}",
    "change24h_{{ counter_code }}"
  ];
</script>
<script src="{% static 'nc/scripts/ticker.js' %}"></script>
<script src="{% static 'nc/scripts/asset_top.js' %}"></script>
<script>
  const CURRENT_USER_ID = {% if request.user.is_authenticated %}{{ request.user.id }}{% else %}null{% endif %};
</script>
<script>
  const STREAM_API_KEY = "{{ stream_api_key }}",
        STREAM_FEED_TYPE = "{{ stream_feed_type }}",
        STREAM_FEED_ID = "{{ stream_feed_id }}",
        STREAM_FEED_TOKEN = "{{ stream_feed_token }}",
        STREAM_FEED_LISTEN = false,
        STREAM_FEED_LIKE_ACTION = "{% url 'nc:feed-like-update' %}",
        STREAM_FEED_REWARD_ACTION = "{% url 'nc:feed-reward-create' %}",
        STREAM_FEED_LIMIT = 25;
</script>
<script src="{% static 'getstream/js/getstream.min.js' %}"></script>
<script src="{% static 'nc/scripts/feed_activity.js' %}"></script>
{% endblock %}
