{% extends "nc/base.html" %}
{% load static %}
{% load bootstrap %}
{% load humanize %}
{% load nc_extras %}

{% block head %}{% endblock %}

{% block nc_style %}
<link rel="stylesheet" type="text/css" href='{% static 'nc/profile_alert_list.css' %}' />
{% endblock %}

{% block title %}Alerts | Nucleo{% endblock %}

{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 border-bottom">
  <h1 id="accounts" class="h2">Alerts</h1>
</div>

<div class="card card-requests">
  <div class="card-header border-0">
    Follower requests
  </div>
  <div class="card-body p-0">
    {% for fr in follower_requests %}
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <a href="{% url 'nc:user-detail' fr.requester.username %}" class="list-group-item-action d-inline-flex justify-content-start align-items-center">
        <img class="img-object-fit-cover img-thumbnail flex-auto" style="height: 50px; width: 50px;"{% if fr.requester.profile and fr.requester.profile.pic %} src="{{ fr.requester.profile.pic.url }}"{% else %} src="{% static 'nc/images/profile.png' %}"{% endif %} alt="">
        <div class="ml-2 d-flex flex-column align-items-start justify-content-center">
          <strong>{{ fr.requester.get_full_name }}</strong>
          <small class="text-muted">@{{ fr.requester.username }}</small>
        </div>
      </a>
      <div class="btn-group">
        <form method="POST" action="{% url 'nc:user-follow-request-update' fr.requester.username %}">
          {% csrf_token %}
          <input name="success_url" type="hidden" value="{{ request.get_full_path }}">
          <button type="submit" class="btn btn-sm btn-outline-primary">Confirm</button>
        </form>
        <form method="POST" class="ml-1" action="{% url 'nc:user-follow-request-delete' fr.requester.username %}">
          {% csrf_token %}
          <input name="success_url" type="hidden" value="{{ request.get_full_path }}">
          <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}


{% block nc_script %}
{% endblock %}
