{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block head %}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link type="text/css" href='{% static 'landing/vendor/highlight.js/atom-one-dark.css' %}' rel="stylesheet">
<link rel="stylesheet" type="text/css" href='{% static 'landing/index.css' %}' />
{% endblock %}

{% block meta %}
<meta name="description" content="Nucleo is the easiest way to trade, share, and discover cryptocurrency with your friends.">
<link rel="canonical" href="https://nucleo.fi/">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Nucleo.fi">
<meta property="og:title" content="Generate Lumens">
<meta property="og:description" content="Nucleo is the easiest way to trade, share, and discover cryptocurrency with your friends.">
<meta property="og:image" content="{% static 'nc/images/favicon/apple-icon-precomposed.png' %}">
<meta property="og:url" content="https://nucleo.fi/">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@nucleofi">
<meta name="twitter:creator" content="@nucleofi">
<meta name="twitter:url" content="https://nucleo.fi/">
<meta name="twitter:title" content="Generate Lumens | Nucleo">
<meta name="twitter:description" content="Nucleo is the easiest way to trade, share, and discover cryptocurrency with your friends.">
<meta name="twitter:image" content="{% static 'nc/images/logo_background.png' %}">
{% endblock %}

{% block title %}Nucleo &ndash; Generate Lumens{% endblock %}


{% block content %}
    <header class="header-transparent" id="header-main">

        <!-- Main navbar -->

        <nav class="navbar navbar-main navbar-expand-lg navbar-sticky navbar-transparent navbar-dark bg-dark" id="navbar-main">
            <div class="container">
                <a class="navbar-brand mr-lg-5" href="">
                    <img alt="Image placeholder" src="{% static 'nc/images/logo_transparent_text-align-left.png' %}" style="height: 32.5px;">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-main-collapse">
                    <ul class="navbar-nav align-items-lg-center">
                        <li class="nav-item active">
                            <a class="nav-link" href="">Overview</a>
                        </li>
                        <li class="nav-item dropdown dropdown-animate" data-toggle="hover">
                            <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Prices</a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-arrow py-0">
                                <div class="list-group">
                                  {% for a in asset_list %}
                                  <a href="{% url 'nc:asset-detail' a.asset_id %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                    <div class="p-0 border-0">
                                      <div class="d-inline-flex justify-content-start align-items-center">
                                        <span class="badge badge-white mr-2">{{ forloop.counter }}</span>
                                        <img class="img-object-fit-cover img-thumbnail rounded-circle flex-auto" style="height: 50px; width: 50px;"{% if a.pic %} src="{{ a.pic.url }}"{% elif a.toml_pic %} src="{{ a.toml_pic }}"{% else %} src="{% static 'nc/images/asset.png' %}"{% endif %} alt="">
                                        <div class="ml-2 d-flex flex-column align-items-start justify-content-center">
                                          <strong>{{ a.code }}</strong>
                                          <small class="text-muted">{% if a.domain %}{{ a.domain }}{% endif %}</small>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="asset-ticker py-1">
                                      {% with a|get_attribute:'price_USD' as display_val %}
                                      {% with a|get_attribute:'change24h_USD' as performance %}
                                      <button type="button" {% if performance and display_val != None %}{% if performance > 0 %}class="d-none btn btn-sm btn-success btn-topassets btn-price_USD"{% elif performance < 0 %}class="d-none btn btn-sm btn-danger btn-topassets btn-price_USD"{% endif %}{% else %}class="d-none btn btn-sm btn-secondary btn-topassets btn-price_USD"{% endif %}>
                                        {% if display_val != None %}${{ display_val|intcomma }}{% else %}-{% endif %}
                                      </button>
                                      <button type="button" {% if performance %}{% if performance > 0 %}class="d-none btn btn-sm btn-success btn-topassets btn-change24h_USD"{% elif performance < 0 %}class="d-none btn btn-sm btn-danger btn-topassets btn-change24h_USD"{% endif %}{% else %}class="d-none btn btn-sm btn-secondary btn-topassets btn-change24h_USD"{% endif %}>
                                        {% if performance != None %}{% if performance > 0 %}+{% endif %}{{ performance|floatformat:2|intcomma }}%{% else %}-{% endif %}
                                      </button>
                                      {% endwith %}
                                      {% endwith %}
                                    </div>
                                  </a>
                                  {% endfor %}
                                  <div class="list-group-item d-flex justify-content-end align-items-center">
                                    <a href="{% url 'nc:trade-redirect' %}" class="btn btn-sm btn-primary">View More Assets</a>
                                  </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown dropdown-animate" data-toggle="hover">
                            <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Leaderboard</a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-arrow py-0">
                                <div class="list-group">
                                  {% for u in user_list %}
                                  <a href="{% url 'nc:user-detail' u.username %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                    <div class="p-0 border-0">
                                      <div class="d-inline-flex justify-content-start align-items-center">
                                        <span class="badge badge-white mr-2">{{ forloop.counter }}</span>
                                        <img class="img-object-fit-cover img-thumbnail rounded flex-auto" style="height: 60px; width: 60px;"{% if u.profile.pic %} src="{{ u.profile.pic.url }}"{% else %} src="{% static 'nc/images/profile.png' %}"{% endif %} alt="">
                                        <div class="ml-2 d-flex flex-column align-items-start justify-content-center">
                                          <strong>{{ u.get_full_name }}</strong>
                                          <small class="text-muted">@{{ u.username }}</small>
                                          <small>
                                            {% for a in u.assets_trusting.all %}
                                            <img class="img-object-fit-cover rounded-circle" {% if a.name %}title="{{ a.name }}"{% else %}title="{{ a.code }} (Issuer: {{ a.issuer_address|truncatechars:8 }}{{ a.issuer_address|slice:'-5:' }})"{% endif %} style="height: 15px; width: 15px;"{% if a.pic %} src="{{ a.pic.url }}"{% elif a.toml_pic %} src="{{ a.toml_pic }}"{% else %} src="{% static 'nc/images/asset.png' %}"{% endif %} alt="">
                                            {% endfor %}
                                          </small>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="py-1">
                                      {% with u.profile.portfolio|get_attribute:'usd_value' as display_val %}
                                      {% with u.profile.portfolio|get_attribute:'performance_1d' as performance %}
                                      {% if performance != None %}
                                      <button type="button" title="Performance" {% if performance > 0 %}class="d-none btn btn-sm btn-success btn-performance_1d"{% elif performance < 0 %}class="d-none btn btn-sm btn-danger btn-performance_1d"{% else %}class="d-none btn btn-sm btn-secondary btn-performance_1d"{% endif %}>
                                        {% if performance > 0 %}+{% endif %}{{ performance|percentage }}
                                      </button>
                                      {% endif %}
                                      {% endwith %}
                                      {% endwith %}
                                    </div>
                                  </a>
                                  {% endfor %}
                                  <div class="list-group-item d-flex justify-content-end align-items-center">
                                    <a href="{% url 'nc:leaderboard-redirect' %}" class="btn btn-sm btn-primary">View More Leaders</a>
                                  </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_login' %}">Log in</a>
                        </li>
                        <li class="nav-item mr-0">
                            <a href="{% url 'account_signup' %}" class="nav-link d-lg-none">Sign up</a>
                            <a href="{% url 'account_signup' %}" class="btn btn-sm btn-white btn-circle btn-icon d-none d-lg-inline-flex">
                                <span class="btn-inner--text">Sign up</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

    </header>





    <main>







        <section class="section-rotate">
            <div class="section-inner bg-gradient-dark"></div>
            <!--Illustation -->
            <div class="pt-5 position-absolute middle right-0 col-lg-7 col-xl-7 d-none d-lg-block">
                <img alt="" src='{% static 'landing/images/work-chat.svg' %}' class="img-fluid">
            </div>
            <!-- SVG shapes background -->
            <div class="bg-absolute-cover bg-size--contain d-flex align-items-center">
                <figure class="w-100">

                    <svg preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 1506.3 578.7" xmlns="http://www.w3.org/2000/svg">
                        <path class="shape-fill-purple" d="M 147.269 295.566 C 147.914 293.9 149.399 292.705 151.164 292.431 L 167.694 289.863 C 169.459 289.588 171.236 290.277 172.356 291.668 L 182.845 304.699 C 183.965 306.091 184.258 307.974 183.613 309.64 L 177.572 325.239 C 176.927 326.905 175.442 328.1 173.677 328.375 L 157.147 330.943 C 155.382 331.217 153.605 330.529 152.485 329.137 L 141.996 316.106 C 140.876 314.714 140.583 312.831 141.228 311.165 L 147.269 295.566 Z"
                        />
                        <path class="shape-fill-green" d="M 92.927 474.881 C 93.309 473.896 94.187 473.19 95.23 473.028 L 105.002 471.51 C 106.045 471.347 107.096 471.754 107.758 472.577 L 113.959 480.28 C 114.621 481.103 114.794 482.216 114.413 483.201 L 110.841 492.423 C 110.46 493.408 109.582 494.114 108.539 494.277 L 98.767 495.795 C 97.723 495.957 96.673 495.55 96.011 494.727 L 89.81 487.024 C 89.148 486.201 88.975 485.088 89.356 484.103 L 92.927 474.881 Z"
                        />
                        <path class="shape-fill-teal" d="M 34.176 36.897 C 34.821 35.231 36.306 34.036 38.071 33.762 L 54.601 31.194 C 56.366 30.919 58.143 31.608 59.263 32.999 L 69.752 46.03 C 70.872 47.422 71.165 49.305 70.52 50.971 L 64.479 66.57 C 63.834 68.236 62.349 69.431 60.584 69.706 L 44.054 72.274 C 42.289 72.548 40.512 71.86 39.392 70.468 L 28.903 57.437 C 27.783 56.045 27.49 54.162 28.135 52.496 L 34.176 36.897 Z"
                        />
                        <path class="shape-fill-blue" d="M 975.636 9.762 C 976.101 8.561 977.171 7.7 978.443 7.502 L 990.354 5.652 C 991.626 5.454 992.907 5.95 993.714 6.953 L 1001.272 16.343 C 1002.079 17.346 1002.29 18.703 1001.826 19.903 L 997.472 31.144 C 997.008 32.344 995.938 33.205 994.666 33.403 L 982.754 35.254 C 981.483 35.451 980.202 34.956 979.395 33.953 L 971.837 24.563 C 971.03 23.559 970.818 22.203 971.283 21.002 L 975.636 9.762 Z"
                        />
                        <path class="shape-fill-gray-dark" d="M 1417.759 409.863 C 1418.404 408.197 1419.889 407.002 1421.654 406.728 L 1438.184 404.16 C 1439.949 403.885 1441.726 404.574 1442.846 405.965 L 1453.335 418.996 C 1454.455 420.388 1454.748 422.271 1454.103 423.937 L 1448.062 439.536 C 1447.417 441.202 1445.932 442.397 1444.167 442.672 L 1427.637 445.24 C 1425.872 445.514 1424.095 444.826 1422.975 443.434 L 1412.486 430.403 C 1411.366 429.011 1411.073 427.128 1411.718 425.462 L 1417.759 409.863 Z"
                        />
                        <path class="shape-fill-orange" d="M 1313.903 202.809 C 1314.266 201.873 1315.1 201.201 1316.092 201.047 L 1325.381 199.604 C 1326.373 199.449 1327.372 199.837 1328.001 200.618 L 1333.895 207.941 C 1334.525 208.723 1334.689 209.782 1334.327 210.718 L 1330.932 219.484 C 1330.57 220.42 1329.735 221.092 1328.743 221.246 L 1319.454 222.689 C 1318.462 222.843 1317.464 222.457 1316.834 221.674 L 1310.94 214.351 C 1310.31 213.569 1310.146 212.511 1310.508 211.575 L 1313.903 202.809 Z"
                        />
                        <path class="shape-fill-red" d="M 1084.395 506.137 C 1084.908 504.812 1086.09 503.861 1087.494 503.643 L 1100.645 501.6 C 1102.049 501.381 1103.463 501.929 1104.354 503.036 L 1112.699 513.403 C 1113.59 514.51 1113.823 516.009 1113.31 517.334 L 1108.504 529.744 C 1107.99 531.07 1106.809 532.02 1105.405 532.239 L 1092.254 534.282 C 1090.85 534.5 1089.436 533.953 1088.545 532.845 L 1080.2 522.478 C 1079.309 521.371 1079.076 519.873 1079.589 518.547 L 1084.395 506.137 Z"
                        />
                    </svg>


                </figure>
            </div>
            <!-- Hero container -->
            <div class="container pt-lg pb-xl-md position-relative zindex-100">
                <div class="row">
                    <div class="col-lg-5 text-center text-lg-left">
                        <div class="">
                            <h2 class="text-white my-4">
	                    <span class="display-4 font-weight-light">Crypto, together.</span>
	                    <span class="d-block">Social banking <strong class="font-weight-light">on the Stellar network</strong></span>
	                </h2>
                            <p class="lead text-white">Nucleo is the easiest way to trade, share, and discover cryptocurrency with your friends.</p>
                            <div class="mt-5">
                                <a href="{% url 'account_signup' %}" class="btn btn-secondary btn-circle btn-translate--hover btn-icon mr-sm-4 scroll-me">
                                    <span class="btn-inner--text">Get Started</span>
                                    <span class="btn-inner--icon"><i class="fas fa-angle-right"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="sct_page_examples" class="slice">
            <div class="container">
                <div class="row">
                  {% for a in asset_list|slice:":3" %}
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div data-animate-hover="1" data-toggle="hidden">
                            <div class="card shadow animate-this">
                              <div class="card-header small">
                                <span class="badge badge-white">{{ forloop.counter }}</span>
                              </div>
                              <div class="card-body">
                                <div class="pb-3 text-center">
                                    <img alt=""{% if a.pic %} src="{{ a.pic.url }}"{% elif a.toml_pic %} src="{{ a.toml_pic }}"{% else %} src="{% static 'nc/images/asset.png' %}"{% endif %} class="img-object-fit-cover img-thumbnail rounded-circle flex-auto" style="height: 75px; width: 75px;">
                                </div>
                                <div class="px-4 text-center">
                                    <a href="{% url 'nc:asset-detail' a.asset_id %}" class="btn btn btn-dark btn-circle">{{ a.code }}</a>
                                </div>
                                <div class="px-4 pt-3 text-center asset-ticker">
                                  {% with a|get_attribute:'price_USD' as display_val %}
                                  {% with a|get_attribute:'change24h_USD' as performance %}
                                  <button type="button" {% if performance and display_val != None %}{% if performance > 0 %}class="d-none btn btn-sm btn-success btn-topassets btn-price_USD"{% elif performance < 0 %}class="d-none btn btn-sm btn-danger btn-topassets btn-price_USD"{% endif %}{% else %}class="d-none btn btn-sm btn-secondary btn-topassets btn-price_USD"{% endif %}>
                                    {% if display_val != None %}${{ display_val|intcomma }}{% else %}-{% endif %}
                                  </button>
                                  <button type="button" {% if performance %}{% if performance > 0 %}class="d-none btn btn-sm btn-success btn-topassets btn-change24h_USD"{% elif performance < 0 %}class="d-none btn btn-sm btn-danger btn-topassets btn-change24h_USD"{% endif %}{% else %}class="d-none btn btn-sm btn-secondary btn-topassets btn-change24h_USD"{% endif %}>
                                    {% if performance != None %}{% if performance > 0 %}+{% endif %}{{ performance|floatformat:2|intcomma }}%{% else %}-{% endif %}
                                  </button>
                                  {% endwith %}
                                  {% endwith %}
                                </div>
                              </div>
                              <div class="card-footer text-center small">
                                {% if not a.issuer_address %}
                                <div style="font-weight: 500;">Stellar Network</div>
                                <div><small>Native Lumens</small></div>
                                {% elif a.issuer_address in issuers %}
                                {% with issuers|get_item:a.issuer_address as issuer %}
                                {% with issuer.user as user %}
                                <div style="font-weight: 500;">{% if a.domain %}{{ a.domain }}{% else %}&nbsp;{% endif %}</div>
                                <div><small>Issuer: {{ a.issuer_address|truncatechars:8 }}{{ a.issuer_address|slice:"-5:" }}
                                   (<a href="{% url 'nc:user-detail' user.username %}">@{{ user.username }}</a>)
                                </small></div>
                                {% endwith %}
                                {% endwith %}
                                {% else %}
                                <div style="font-weight: 500;">{% if a.domain %}{{ a.domain }}{% else %}&nbsp;{% endif %}</div>
                                <div><small>Issuer: {{ a.issuer_address|truncatechars:8 }}{{ a.issuer_address|slice:"-5:" }}</small></div>
                                {% endif %}
                              </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="fluid-paragraph text-center mt-5">
                    <p><strong class="text-primary">*Good to know!</strong> With Nucleo, you can <strong>trade any asset</strong> through the Stellar network's built-in decentralized exchange.</p>
                </div>
            </div>
        </section>

        <section class="slice bg-gradient-secondary overflow-hidden">
            <div class="bg-absolute-cover bg-size--contain d-flex align-items-center">
                <figure class="w-100">

                    <svg preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 1506.3 578.7" xmlns="http://www.w3.org/2000/svg">
                        <path class="shape-fill-purple" d="M 147.269 295.566 C 147.914 293.9 149.399 292.705 151.164 292.431 L 167.694 289.863 C 169.459 289.588 171.236 290.277 172.356 291.668 L 182.845 304.699 C 183.965 306.091 184.258 307.974 183.613 309.64 L 177.572 325.239 C 176.927 326.905 175.442 328.1 173.677 328.375 L 157.147 330.943 C 155.382 331.217 153.605 330.529 152.485 329.137 L 141.996 316.106 C 140.876 314.714 140.583 312.831 141.228 311.165 L 147.269 295.566 Z"
                        />
                        <path class="shape-fill-green" d="M 92.927 474.881 C 93.309 473.896 94.187 473.19 95.23 473.028 L 105.002 471.51 C 106.045 471.347 107.096 471.754 107.758 472.577 L 113.959 480.28 C 114.621 481.103 114.794 482.216 114.413 483.201 L 110.841 492.423 C 110.46 493.408 109.582 494.114 108.539 494.277 L 98.767 495.795 C 97.723 495.957 96.673 495.55 96.011 494.727 L 89.81 487.024 C 89.148 486.201 88.975 485.088 89.356 484.103 L 92.927 474.881 Z"
                        />
                        <path class="shape-fill-teal" d="M 34.176 36.897 C 34.821 35.231 36.306 34.036 38.071 33.762 L 54.601 31.194 C 56.366 30.919 58.143 31.608 59.263 32.999 L 69.752 46.03 C 70.872 47.422 71.165 49.305 70.52 50.971 L 64.479 66.57 C 63.834 68.236 62.349 69.431 60.584 69.706 L 44.054 72.274 C 42.289 72.548 40.512 71.86 39.392 70.468 L 28.903 57.437 C 27.783 56.045 27.49 54.162 28.135 52.496 L 34.176 36.897 Z"
                        />
                        <path class="shape-fill-blue" d="M 975.636 9.762 C 976.101 8.561 977.171 7.7 978.443 7.502 L 990.354 5.652 C 991.626 5.454 992.907 5.95 993.714 6.953 L 1001.272 16.343 C 1002.079 17.346 1002.29 18.703 1001.826 19.903 L 997.472 31.144 C 997.008 32.344 995.938 33.205 994.666 33.403 L 982.754 35.254 C 981.483 35.451 980.202 34.956 979.395 33.953 L 971.837 24.563 C 971.03 23.559 970.818 22.203 971.283 21.002 L 975.636 9.762 Z"
                        />
                        <path class="shape-fill-gray-dark" d="M 1417.759 409.863 C 1418.404 408.197 1419.889 407.002 1421.654 406.728 L 1438.184 404.16 C 1439.949 403.885 1441.726 404.574 1442.846 405.965 L 1453.335 418.996 C 1454.455 420.388 1454.748 422.271 1454.103 423.937 L 1448.062 439.536 C 1447.417 441.202 1445.932 442.397 1444.167 442.672 L 1427.637 445.24 C 1425.872 445.514 1424.095 444.826 1422.975 443.434 L 1412.486 430.403 C 1411.366 429.011 1411.073 427.128 1411.718 425.462 L 1417.759 409.863 Z"
                        />
                        <path class="shape-fill-orange" d="M 1313.903 202.809 C 1314.266 201.873 1315.1 201.201 1316.092 201.047 L 1325.381 199.604 C 1326.373 199.449 1327.372 199.837 1328.001 200.618 L 1333.895 207.941 C 1334.525 208.723 1334.689 209.782 1334.327 210.718 L 1330.932 219.484 C 1330.57 220.42 1329.735 221.092 1328.743 221.246 L 1319.454 222.689 C 1318.462 222.843 1317.464 222.457 1316.834 221.674 L 1310.94 214.351 C 1310.31 213.569 1310.146 212.511 1310.508 211.575 L 1313.903 202.809 Z"
                        />
                        <path class="shape-fill-red" d="M 1084.395 506.137 C 1084.908 504.812 1086.09 503.861 1087.494 503.643 L 1100.645 501.6 C 1102.049 501.381 1103.463 501.929 1104.354 503.036 L 1112.699 513.403 C 1113.59 514.51 1113.823 516.009 1113.31 517.334 L 1108.504 529.744 C 1107.99 531.07 1106.809 532.02 1105.405 532.239 L 1092.254 534.282 C 1090.85 534.5 1089.436 533.953 1088.545 532.845 L 1080.2 522.478 C 1079.309 521.371 1079.076 519.873 1079.589 518.547 L 1084.395 506.137 Z"
                        />
                    </svg>


                </figure>
            </div>
            <div class="container position-relative zindex-100">
                <div class="mb-md text-center">
                    <span class="badge badge-lg badge-success badge-pill">Social</span>
                    <h3 class="mt-4">Invest in crypto with a community of <strong class="font-weight-700">#hodlers</strong></h3>
                    <div class="fluid-paragraph text-center mt-4">
                        <p class="lead lh-180">
                          Nucleo has a variety of features that make it the easiest and most secure place to discover crypto.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card shadow border-0 mb-4">
                            <div class="card-body py-5">
                                <div class="d-flex align-items-start">
                                    <div class="icon icon-shape icon-orange rounded-circle">
                                        <span data-feather="users"></span>
                                    </div>
                                    <div class="icon-text pl-4">
                                        <h5 class="font-weight-bold">Created for the enthusiasts</h5>
                                    </div>
                                </div>
                                <p class="mt-4">Share the latest crypto projects you love with your friends. Learn from their best performing portfolios to gain an edge with your investments.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card shadow border-0 mb-4">
                            <div class="card-body py-5">
                                <div class="d-flex align-items-start">
                                    <div class="icon icon-shape icon-green rounded-circle">
                                        <span data-feather="trending-up"></span>
                                    </div>
                                    <div class="icon-text pl-4">
                                        <h5 class="font-weight-bold">Peer to peer at heart</h5>
                                    </div>
                                </div>
                                <p class="mt-4">Buy, sell, and trade crypto on Stellar's DEX, or pay with crypto in any asset type you like, for only fractions of a penny in transaction fees.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card shadow border-0 mb-4">
                            <div class="card-body py-5">
                                <div class="d-flex align-items-start">
                                    <div class="icon icon-shape icon-teal rounded-circle">
                                        <span data-feather="shield"></span>
                                    </div>
                                    <div class="icon-text pl-4">
                                        <h5 class="font-weight-bold">Built by hodlers for hodlers</h5>
                                    </div>
                                </div>
                                <p class="mt-4">You control your money: Secret keys are never sent to our servers and never stored. We support Ledger hardware wallets and StellarGuard.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="slice slice-xl bg-gradient-primary has-floating-items" id="sct_call_to_action">
            <a href="#sct_call_to_action" class="tongue tongue-up tongue-secondary scroll-me"><i class="fas fa-angle-up"></i></a>
            <div class="container text-center">
                <div class="row">
                    <div class="col-12">
                      <span class="badge badge-lg badge-success badge-pill">High Praise</span>
                        <h3 class="text-white strong-600 mt-4">Finalist: Stellar Build Challenge #7</h3>
                        <div class="row justify-content-center mt-4">
                            <div class="col-lg-8">
                                <p class="lead text-white">
                                    "Nucleo.fi is a feature-rich social trading application with payment support. It has an easy-to-navigate user experience and customizable profiles for users. A social rich application with trading leaderboards, user feeds, following functionality – it’s a great example of how the SDEX can be gamified."
                                </p>
                                <p class="text-white font-weight-bold">
                                    Stellar Development Foundation
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container floating-items">
                <div class="floating-icon"><span></span>
                    <img alt="" src="{% static 'landing/images/icons/svg/org-unit.svg' %}" class="img-saturate" style="width: 50px;">
                </div>
                <div class="floating-icon"><span></span>
                    <img alt="" src="{% static 'landing/images/icons/svg/bullish.svg' %}" class="img-saturate" style="width: 76px;">
                </div>
                <div class="floating-icon"><span></span>
                    <img alt="" src="{% static 'landing/images/icons/svg/add-to-favorites.svg' %}" class="img-saturate" style="width: 36px;">
                </div>
                <div class="floating-icon"><span></span>
                    <img alt="" src="{% static 'landing/images/icons/svg/mind-map.svg' %}" class="img-saturate" style="width: 54px;">
                </div>
                <div class="floating-icon"><span></span>
                    <img alt="" src="{% static 'landing/images/icons/svg/comments.svg' %}" class="img-saturate" style="width: 46px;">
                </div>
                <div class="floating-icon"><span></span>
                    <img alt="" src="{% static 'landing/images/icons/svg/notification.svg' %}" class="img-saturate" style="width: 36px;">
                </div>
            </div>
        </section>

        <section class="slice slice-lg">
            <div class="container py-5">
                <div class="mb-md text-center">
                    <h3 class="h3">Experience the future of banking.</h3>
                    <div class="fluid-paragraph text-center mt-4">
                        <p class="lead lh-180">Get started with the Stellar network in no time.</p>
                    </div>
                </div>
                <div class="btn-container text-center">
                  <a href="{% url 'account_signup' %}" class="btn btn-warning btn-circle btn-translate--hover px-4">
                      <span class="btn-inner--text">Get Started</span>
                      <span class="btn-inner--icon"><i class="fas fa-angle-right"></i></span>
                  </a>
                </div>
            </div>
        </section>


        <section class="slice slice-lg">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mb-5 mb-md-0">
                        <div class="card bg-gradient-dark shadow shadow-lg--hover border-0 position-relative zindex-100">
                            <div class="card-body py-5">
                                <div class="d-flex align-items-start">
                                    <a href="https://www.stellar.org/" class="icon">
                                      <img alt="" src='{% static 'landing/vendor/cryptocurrency-icons/svg/white/xlm.svg' %}' class="img-fluid">
                                    </a>
                                    <div class="icon-text">
                                        <h3 class="text-white h4">Proudly built on Stellar</h3>
                                        <p class="text-white mb-0">We chose to build on Stellar for obvious reasons: Near instant settlement time of 2-5 sec, scalable decentralized tech at 1000+ TPS, and transaction fees for fractions of a penny.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-5 mb-md-0">
                        <div class="card bg-gradient-secondary shadow shadow-lg--hover border-0 position-relative zindex-100">
                            <div class="card-body py-5">
                                <div class="d-flex align-items-start">
                                    <div class="icon text-primary">
                                        <i class="fas fa-question-circle"></i>
                                    </div>
                                    <div class="icon-text">
                                        <h3 class="h4">Technical support</h3>
                                        <p class="mb-0">Use our dedicated support email to send your issues or suggestions. We are here to help anytime: <a href="mailto:hello@nucleo.fi" class="text-dark font-weight-bold">hello@nucleo.fi</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>


    <footer class="footer footer-dark bg-gradient-primary footer-rotate">
        <div class="container">
            <div class="row pt-md">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <a href="">
                        <img src="{% static 'nc/images/logo_transparent_text-align-left.png' %}" alt="Footer logo" style="height: 50px;">
                    </a>
                    <div>
                    </div>
                    <p class="text-sm">A social banking platform built on top of the Stellar network. Nucleo is the easiest way to trade, share, and discover cryptocurrency with your friends. Generate Lumens.</p>
                </div>
                <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
                    <h6 class="heading mb-3">Product</h6>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'nc:user-redirect' %}">Profile</a>
                        </li>
                        <li><a href="{% url 'nc:account-redirect' %}">Accounts</a>
                        </li>
                        <li><a href="{% url 'nc:user-settings-redirect' %}">Settings</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
                    <h6 class="heading mb-3">About</h6>
                    <ul class="list-unstyled text-small">
                        <li><a href="#">Services</a>
                        </li>
                        <li><a href="mailto:hello@nucleo.fi">Contact</a>
                        </li>
                        <li><a href="#">Careers</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-4 mb-5 mb-lg-0">
                    <h6 class="heading mb-3">Company</h6>
                    <ul class="list-unstyled">
                        <li><a href="#">Terms</a>
                        </li>
                        <li><a href="#">Privacy</a>
                        </li>
                        <li><a href="mailto:hello@nucleo.fi">Support</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row align-items-center justify-content-md-between py-4 mt-4 delimiter-top">
                <div class="col-md-6">
                    <div class="copyright text-sm font-weight-bold text-center text-md-left">
                        &copy; 2018 <a href="https://nucleo.fi/" class="font-weight-bold" target="_blank">Nucleo.fi</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="https://twitter.com/nucleofi" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/mikeyrf/nucleo" target="_blank">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block script %}
<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script>

<!-- Core -->
<script src='{% static 'landing/vendor/in-view/in-view.min.js' %}'></script>
<!-- Page plugins -->
<script src="{% static 'landing/vendor/highlight.js/highlight.js' %}"></script>
<!-- Theme JS -->
<script src='{% static 'landing/scripts/theme.min.js' %}'></script>

<script>
  var CURRENT_ASSET_DISPLAY = "{{ asset_display }}",
      CURRENT_PORTFOLIO_DISPLAY = "{{ portfolio_display }}";

  const ALLOWED_ASSET_DISPLAYS = [
          {% for d in allowed_asset_displays %}
          "{{ d }}",
          {% endfor %}
        ],
        ALLOWED_PORTFOLIO_DISPLAYS = [
          {% for d in allowed_portfolio_displays %}
          "{{ d }}",
          {% endfor %}
        ];
</script>
<script src="{% static 'nc/scripts/index.js' %}"></script>
{% endblock %}
